# docker-compose.yml
version: "3"
services:
  app:
    restart: on-failure
    container_name: social-mail-server
    image: ghcr.io/social-mail/social-mail-server-docker-container:main
    env_file:
      - vars.env
    ports:
      - "80:80"
      - "443:443"
      - "25:25"
    volumes:
      - /var/lib/clamav
      - /data
